# Node
/node_modules
/backend/node_modules
npm-debug.log
yarn-error.log

# System files
.DS_Store
Thumbs.db

# database
/mongodb

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
